/* Typography */
p,
h4,
.ol_vision {
    color: #1d1730;
}

h2 span {
    color: #997455;
}

h2 {
    font-size: 50px;
    line-height: 1.2;
}

.copyright {
    color: #fff;
}

/* Header */
#header .header-body {
    background: #142b28;
}

.dropdown a {
    color: #fff !important;
    font-size: 16px !important;
    font-weight: 300 !important;
    text-transform: uppercase !important;
}

.current-page-active,
.dropdown a:hover {
    background-color: #3d5b58 !important;
}

#header .header-nav.header-nav-links-side-header nav > ul > li.dropdown > .dropdown-item:before {
    display: none !important;
}

.small-subheading {
    letter-spacing: 3px;
    font-size: 1.1em;
}

/* OUR VISION */

.ol_vision {
    font-size: 15px;
}

.ol_vision li {   
    margin-bottom: 5px;
}

.ol_vision_inner {
    padding-left: 1rem;
    list-style-type: none;
}

.ol_vision_inner li {
    margin-bottom: 0;
    font-size: 14px;
}

/* TEAM */
.team {
    background-color: #142b28;
}

.team p {
    color: #fff;
}

.team p.lead {
    font-size: 15px;
    letter-spacing: .1px;
    font-weight: 400;
}

h4.company {
    font-size: 15px;
    color: #da5e4b;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.spg_logo {
    max-width: 200px;
}

.dko_logo,
.e_logo {
    max-width: 95px;
}

/* Masterplan */
.masterplan {
    background: #142b28;
}

.masterplan h1,
.masterplan p {
    color: #fff;
}

.masterplan p {
    line-height: 1.4;
    font-size: 13px;
}

.masterplan h1 {
    font-weight: 500;
    font-size: 40px;
}

/* Team Page */
.team_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.team_content2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Vision Page */
.vision_content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}


/* responsive */
@media (min-width: 992px) {
    html.side-header #header.side-header .header-logo {
        margin: 0;
    }

    #header .header-nav.header-nav-links nav > ul > li > a, #header .header-nav.header-nav-line nav > ul > li > a {
        padding: 5px 30px !important;
    }

    .header-logo img {
        max-width: 145px;
 
    }

    .mtn-80 {
        margin-top: -80px;
    }

    .large-team {
        height: 100vh;
        overflow: hidden;
    }

    .team p {
        line-height: 1.4;
    }

    .h-lg-100vh {
        height: 100vh;
        overflow: hidden;
    }

    .right-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 15px;
    }
}

@media (min-width: 1010px) {

}

